version: "3.9"

services:
  api:
    build: 
        context: ./MyDockerApi
        dockerfile: Dockerfile
    container_name: myapi_container
    ports:
      - "5000:8080"
    depends_on:
      - postgres
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__DefaultConnection=Host=postgres;Port=5432;Database=MyDb;Username=postgres;Password=postgres

  postgres:
    image: postgres:16
    container_name: postgres_container
    environment:
      POSTGRES_DB: MyDb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
