name: .NET Docker CI

on:
  push:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore Dependencies
      run: dotnet restore MyDockerApi/MyDockerApi.csproj

    - name: Build
      run: dotnet build MyDockerApi/MyDockerApi.csproj --configuration Release --no-restore

    - name: Publish
      run: dotnet publish MyDockerApi/MyDockerApi.csproj -c Release -o publish

    - name: Build Docker Image
      run: |
        docker build -t myapi:latest ./MyDockerApi
